* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  min-height: 100vh;
  width: 80vw;
}

.logo {
  height: 60px;
  margin: 1vh 0 5vh 1vh;
}

.logo img {
  height: 100%;
}

.table-row:hover .delete-crypto {
  display: block;
}

/* .delete-crypto {
  display: none; 
  color: "#adabad";
  cursor: "pointer";
} */

.container-chart{
  width: 80vw;
  height: 80vh;
}

